@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  ::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
  
  main img{
    width: 100vw;
  }
  main a{
    display: block;
    text-align: center;
    font-weight: bolder;
    padding: 8px;
    background-color: darkblue;
    color: white;
    text-decoration: none;
    
  }
  main a:hover{
    background-color: blue;
    text-shadow:  1px 1px 2px black;
    text-decoration: underline;
  }